__pycache__/
.eggs/
.env
.envrc
.installed.cfg
.Python
.venv
*.egg
*.egg-info/
*.py[codz]
*$py.class
build/
develop-eggs/
dist/
downloads/
eggs/
env.bak/
env/
ENV/
lib/
lib64/
MANIFEST
parts/
sdist/
share/python-wheels/
var/
venv.bak/
venv/
wheels/